h1, h2, h3, h4, body, a, tr, thead, tbody, tfooter {padding: 0; margin: 0; font-family: Arial, Helvetica; color: gray;}
body {width: 960px; margin: 0 auto;}
table {width: 98%; border-collapse: collapse; border: 1px solid lightgrey;}
td, th {padding: 10px 5px; border: 1px solid lightgrey;}
a {color: gray; text-decoration: none;}
a:hover {text-decoration: underline;}
h1 {margin: 10px 0 5px;}
.functions {margin: 7px 0;}
label {width: 200px; display: inline-block;}