/**** reset css ****/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote
{
 padding: 0;
 margin: 0;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/**** end reset ****/

.clearfix {display: inline-block;}
body {
  font-family: Georgia, Times, serif;
  color: #aeafb3;
  font-size: 0.8em;
}

a {
  color: #aeafb3;
  text-decoration:none;
}

#header
{
  width: 923px;
  height: 135px;
  margin-top: 10px;
  margin-left: 80px;
  border-bottom: 1px solid #cac9ce;
}

#header img.logo {
  border-right: 1px solid #cac9ce;
}

div#cross_box {border-top:1px solid #cac9ce; width:160px; height: 10px; margin-left: 127px; float:left;}
#footer .nav_bar{
  margin-left:287px;
  padding-top:10px;
  border-top:1px solid #cac9ce;
  border-left:1px solid #cac9ce;
  width: 694px;
}
#footer ul {
  list-style-type: none;

}
#footer li
{
  padding-left: 29px;
  display: block;
  float: left;
}
@-moz-document url-prefix() { #footer li {padding-left: 30px;} }

#footer li.first {
  padding-left: 0px;
  padding-right: 6px;
}

@-moz-document url-prefix() {#footer li.first { padding-right: 2px;} }

#left_menu
{
  float:left;
  margin-left: 80px;
  height: 200px; 
  width: 207px;
}

#body_section
{
  margin-left: 287px;
  border-left: 1px solid #cac9ce;
  padding: 20px;
  min-height: 338px;
  width: 700px;
}

#left_menu li
{
  display: block;
  list-style: none;
  padding-top: 10px;
  padding-left: 25px;
}

#left_menu li.index a{ color: #ee3d37; }
#left_menu li.about_us a{ color: #aa7b51; }
#left_menu li.what_we_do a{ color: #21aae0; }
#left_menu li.stories a{ color: #ed3b37; }
#left_menu li.new a{ color: #009345; }
#left_menu li.how_you_can_help a{ color: #c5776b; }
#left_menu li.contact_us a{ color: #e47f27; }
#left_menu li.favourites a{ color: #3fa8bb; }

#footer li a { color:#AEAFB3; }

div.two_columns_main_content
{
  width: 676px;
  height: 250px;
  padding-top: 10px;
}

p.main_content
{
  line-height: 1.8em;
}

p {font: helvetica;}
p.left_column{ float: left; width: 326px;}
p.right_column { margin-left: 346px;}

div.left_column{ float: left; width: 326px;}
div.right_column { margin-left: 346px;}

p.stories {
  padding-top:10px;
}
h1.section_title
{
  font-size: 1.4em;
  padding: 20px 0 10px 10px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: normal;
  border-bottom: 1px solid #cac9ce;
}

ol#story_list {
    list-style-type: none;
    width: 180px;
    float: left;
    padding: 5px;
}

ol#story_list li {
  margin-bottom: 10px;
}
ol#story_list a
{
  text-decoration:none;
  font-family: Georgia, Times, serif;
}

ol#story_list li.active a
{
  color: #F26A6A;
}

div#story {
    margin: -15px 0 -15px 180px;
    padding: 20px;
    border-left: 1px solid #cac9ce;
/*    width: 518px;*/
}

form p, div.p_like{padding: 15px 0;}
div.p_like span.label{
  width: 335px;
}

form label, form .label
{
    display: inline-block;
    width: 338px;
    float: left;
}

form div.checkboxes{ width: 350px;margin-left: 334px; position: relative;}
form div.checkboxes ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  z-index: 100;
}
form div.checkboxes ul li input{
  position: absolute;
  left: 0;
}
form div.checkboxes ul li span{
  position: relative;
  left: 20px;
  top: 3px;
}
textarea, input.text{width: 338px; border: 1px solid #cac9ce;}
textarea{height: 125px;}
input.text{height: 23px; width:338;}

input.submit
{
    width: 100px;
    height: 34px;
    background-color: #ef3c37;
    color: white;
    font-size:1.3em;
    border:none;
}

span.mandatory{color: #ef3c37;}

div#notes
{
    padding: 25px 10px 12px;
    border-top: 1px solid #cac9ce;
    margin-top: 85px;
    font-style: italic;
}

div#notes p
{
    padding: 15px 0;
    line-height: 200%;
}

#footer p {
  text-align: right;
  line-height: 1.8em;
  padding-top: 80px;
}

p.link_reference {
  width: 320px;
  margin-bottom: 20px;
}

.fovourites {
  margin-left: 10px;
}

.fovourites h4{
  text-transform: uppercase;
  margin-bottom: 10px;
}

p.link_reference a{ 
  color: #3FA8BB;
}
.contact_us a{
  color: #E47F27;
}

.how_you_can_help a {
  color: #C5776B;
}

.contact_us p, .how_you_can_help p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact_us ul, .how_you_can_help ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.contact_us li, .how_you_can_help li {
 margin-bottom: 10px;
}