/**** reset css ****/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote
{
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/**** end reset ****/

.clearfix {display: inline-block;}

#header
{
  background-image: url(../images/header.png);
  background-position: top left;
  background-repeat: no-repeat;
  width: 943px;
  height: 135px;
  margin-left: 80px;
}

#footer{border-top:1px solid #ddd;border-left:1px solid #ddd;margin-left:287px; padding-top:10px;}

#footer li
{
  display: inline;
  margin-left:10px;
}

#left_menu
{
  float:left;
  margin-left: 80px;
  height: 200px; 
  width: 207px;
}

#body_section
{
  margin-left: 287px;
  border-left: 1px solid #ddd; 
  padding: 20px;
  min-height:515px;
  border-bottom: 1 px solid #ddd;
  width: 700px;
}

#left_menu li
{
  display: block;
  list-style: none;
  padding-top: 10px;
  padding-left: 25px;  
}

.nav_bar a
{
  text-decoration:none;
  color: #888;
}

div.two_columns_main_content
{
  border-top: 1px solid #ddd;
  width: 676px;
  padding-top: 10px;
}

p.main_content
{
  color: #888;
  font-size: 0.8em;
  line-height: 1.8em;  
}

p {font: helvetica;}
p.left_column{ float: left; width: 326px;}
p.right_column { margin-left: 346px;}

p.section_title
{
  color: #888;
  font-size: 1.4em;
  width: 676px;
  padding: 20px 0 10px 10px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: normal;
}

ol#story_list {
    list-style-type: none;
    width: 180px;
    float: left;
    padding: 5px;
}

ol#story_list a
{
  text-decoration:none;
  color: #888;
  font-size: 12pt;
  font-family: Georgia, Times, serif;
}

ol#story_list li.active a
{
  color: red;
}

div#story {
    margin: -15px 0 -15px 180px;
    padding: 20px;
    border-left: 1px solid #ddd;
    width: 518px;
    color: #888;
    font-family: Georgia, Times, serif;
}

h1 {
    padding: 25px 10px 12px;
    font-size: 16pt;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    font-style: italic;
    font-family: Georgia, Times, serif;
}

form {
    font-family: Georgia, Times, serif;
    color: #888;
}

form p,
div.p_like {
    padding: 15px 0;
}

form label,
form .label {
    display: inline-block;
    width: 358px;
    float: left;
}

form div.checkboxes {
    margin-left: 358px;
}

textarea,
input.text {
    width: 338px;
    border: 1px solid #888;
}

textarea {
    height: 125px;
}

input.text {
    height: 28px;
}

input.submit {
    width: 100px;
    height: 34px;
    background-color: #ef3c37;
    color: white;
    font-family: Georgia, Times, serif;
    font-weight: bold;
    font-size: 12pt;
}