<img alt="Home" src="/images/homepage.png" />
<p class="section_title">About us</p>

<p class="main_content">
A learning disability is the most common disability in Britain, affecting more than a million people. It is not a learning difficulty, such as dyslexia: it is a permanent intellectual impairment. However, people with learning disabilities can, with the right support, achieve all kinds of things, and develop many interest and pleasures, often independently in the community. 
Unfortunately, all too many people with learning disabilities have very low incomes, which contributes to a sense of social exclusion. the social life, the interests and the travel that most people take for granted can be very difficult for someone who has very little spare money and who may need special support.

the ExtraSpecialTrust is there to help particularly when there is no on else to do so.
</p>