<img alt="Home" src="/images/about_us.png" />
<h1 class="section_title about_us_title">About us</h1>

<div class="two_columns_main_content">
  <div class="main_content left_column">
    <p>
      A learning disability is the most common disability in<br/>
      Britain, affecting more than a million people. It is not<br/>
      a learning difficulty, such as dyslexia; it is a permanent<br/>
      intellectual impairment. However, people with learning disabilities can, with the right support, achieve all kinds 
      of things and develop many interests and pleasures, often independently in the community.
    </p>
  </div>

  <div class="main_content right_column">
    <p>Unfortunately, all too many people with learning disabilities have very low incomes, which contributes to a sense of 
    social exclusion. The social life, the  interests and the travel that most people take for granted can be very difficult for someone who has very little spare money and who may 
    need special support.</p>
    <p>The ExtraSpecialTrust is there to help, with small personal grants, particularly when there is no one else to do so.</p>
  </div>
</div>