<img alt="Home" src="/images/what_we_do.png" />
<h1 class="section_title">Our favourite websites</h1>

<div class="two_columns_main_content">
  <p class="main_content left_column">
    <% @favourite_links.each do |link|%>
      <%= link_to link.text, link.ref %> <br/>
    <% end %>
  </p>

  <p class="main_content right_column">
  </p>
</div>