<div class="how_you_can_help">
  <img alt="Home" src="/images/how_you_can_help.png" />
  <h1 class="section_title">How you can help</h1>

  <ul>
    <li>By a donation</li>
    <li>By a covenant</li>
    <li>By a legacy</li>
    <li>By an interest-free loan</li>
    <li>By a fund-raising</li>
  </ul>

  <%= render :partial => "contact_info" %>
</div>