<!-- JL 2013.05.30 - fixed typo "five" to "give" -->
<img alt="Home" src="/images/what_we_do.png" />
<h1 class="section_title what_we_do_title">What we do</h1>

<div class="two_columns_main_content">
  <div class="main_content left_column">
    <p>
  The ExtraSpecial Trust offers small personal grants towards some of life's important extras to help make a wish come true; these grants are paid out of the investment income of our charitable funds. The grant might be a contribution towards the costs of a visit to a friend, a computer, some swimming lessons, a train or air ticket, a pop concert, a riding hat, a special-needs bike, a better wheelchair or even the vet's bills for a sick pet. It could also help towards the cost of extra support from care workers in making a wish come true, or towards a period of respite care.
    </p>
  </div>

  <div class="main_content right_column">
    <p>
  The ExtraSpecial Trust has low administrative costs, which include professional fees to accountants and to an investment manager, so the bulk of the Trust's income from its capital fund is devoted to its grants. Please help us to increase our fund so that we can give more grants to more people.
    </p>
  </div>
  
</div>